
.main_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}

.apple h1{
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: left;
    color: #fff;
    margin-left: 355px;
}

.left_content li{
    background-color: #222222;
    padding: 12px 280px 12px 30px;
    margin: 23px 0;
    border-radius: 10px;
    color: #fff;
}

.left_content li a{
    color: #fff;
}

.icon_text_contact{
    position: relative;
}

.icon_text_contact .text{
    position: absolute;
    top: -2px;
}

.second_text{
    position: absolute;
    top: 4px;
}

.cotactAd{
    position: relative;
}

.cotactAd .text{
    position: absolute;
    top: 13px;
    left: 60px;
}

.cotactAd .icon{
    color: #00D4BD;
    font-size: 20px;
}

.right_content input{
    padding: 14px 14px;
    border-radius: 10px;
    border: none;
    background-color: #222222;
    color: rgb(163, 163, 163);
}

textarea,input:focus{
    outline: 0;
}

input::placeholder{
    font-size: 15px;
    color: rgb(163, 163, 163);
}



.left_input{
    margin-right: 20px;
}

textarea{
    background-color: #222222;
    color: rgb(163, 163, 163);
    border-radius: 10px;
    border: none;
    margin: 20px 0;
    padding: 20px; 
    font-size: 15px; 
}

textarea::placeholder{
    font-size: 15px;
    color: rgb(163, 163, 163);
}

.send_btn{
    background-color: #00D4BD;
    color: #fff;
    padding: 12px 32px;
    transition: all 0.6s;
    border-radius: 15px;
    font-size: 17px;
}

.send_btn:hover{
    background-color: #fff;
    color: #057d6f;
    cursor: pointer;
}

.div_inputs{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.apple{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
}

